<div class="line"></div>
<h1>Документи  на продукцію:</h1>
		<div class="cert">
			<%= image_tag("ses1_small.gif")%>   
		</div>
		<div class="cert">
			<%= image_tag("ses2_small.gif")%>
		</div>
		<div class="cert">
			<%= image_tag("sevidp1_small.gif")%>
		</div>
		<div class="cert">
			<%= image_tag("sevidp2_small.gif")%>
		</div>