<div class="line"></div>
<h2>Телефонуйте нам з 09-00 до 18-00 (крім неділі):</h2></br>
<li><h1>тел.+38(095)341-96-23</h1></li>
<li><h1>тел.+38(050)373-90-94</h1></li>
</br>
<p>
<%= mail_to "dalli-werke@ukr.net", "dalli-werke@ukr.net", :encode => "javascript"%>
</p>