<div class="line"></div>
<h2>ТОВ "Зета ІФ"</h2><br>
<h2>м.Івано-Франківськ</h2><br>
<h2>Телефонуйте нам з 09-00 до 18-00 (крім неділі):</h2><br>
<li><h1>тел.+38(050)373-44-23</h1></li>
<li><h1>тел.+38(095)341-96-23</h1></li>
<br>
<h2>м.Львів</h2><br>
<li><h1>тел.+38(067)942-48-51</h1></li>
<li><h1>тел.+38(050)870-76-81</h1></li>
<br>
<h2>м.Київ</h2><br>
<li><h1>тел.+38(044)451-59-41</h1></li>
<li><h1>тел.+38(050)310-83-19</h1></li>
<br>
<h2>Пишіть на електронну пошту: <%= mail_to "dalli@dalli.if.ua", "dalli@dalli.if.ua", :encode => "javascript"%></h2>
