  <div class="line"></div>
  <div id="leftimage"> <%= image_tag "dalliall.gif"%> </div>
  </br>
  </br>
  <h2>ТОВ "Зета ІФ" запрошує до взаємовигідної співпраці оптових покупців, </h2> </br>
  <h2>ви можете <%= link_to "зв'язатись з нами", page_path("contacts") %> для отримання прайсу оптових клієнтів.</h2> </br>
  
  
  