  <div class="line"></div>
  <h2>ТОВ "Зета ІФ" запрошує до взаємовигідної співпраці оптових покупців, </h2> </br>
  <h2>ви можете <%= link_to "завантажити прайс", "/price.xls"%> або <%= link_to "зв'язатись з нами", page_path("contacts") %> для уточнення деталей</h2> </br>
  
  <h3><%= link_to "Завантажити прайс для оптових", "/price.xls",:class => "phome" %></h3>