  <div class="line"></div>
  <h2>ТОВ "Зета ІФ" запрошує до взаємовигідної співпраці оптових покупців, </h2> </br>
  <%= image_tag "dalliall.gif"%>
  
  <h2>ви можете <%= link_to "зв'язатись з нами", page_path("contacts") %> для отримання прайсу оптових клієнтів.</h2> </br>
  
  