  <div class="line"></div>
 <h2> ТОВ "Зета ІФ" пропонує безкоштовну доставку по м.Івано-Франківську,</h2> </br>
 <h2>  а також доставку будь-якими службами доставки по Україні, після передоплати. </h2> </br>
  <%= image_tag "dallibus.png"%>
  <h2>ви можете <%= link_to "зв'язатись з нами", page_path("contacts") %> для уточнення деталей.</h2> </br>
  
  
