  <div class="line"></div>
 <div id="leftimage"> <%= image_tag "dallibus.png"%> </div> 
 </br>
 <h2> ТОВ "Зета ІФ" пропонує безкоштовну доставку по м.Івано-Франківську,</h2> </br>
 <h2>  а також відправку будь-якими службами доставки по Україні, після передоплати. </h2> </br>
 <h2>ви можете <%= link_to "зв'язатись з нами", page_path("contacts") %> для уточнення деталей.</h2> </br>
 
  
