
		<div class="line"></div>
		<div id="pitch">
			<h1>Dalli - доступна німецька якість</h1>
			<h2>ТОВ "Зета ІФ" - офіційний імпортер продукції DALLI в Україні  (095-341-96-23) </h2>
		</div>	
		<div class="third">
			<h3><%= link_to "Про нас", page_path("about"),:class => "phome" %></h3>
			<p>An effective website requires a clear definition of goals, comprehensive planning, and expert execution. For sites that have not yet been built or are ready to undergo a transformation, we can provide information on architecture planning. Contact us for a free consultation.</p>
		</div>
		<div class="third">
			<h3><%= link_to "Продукція", products_path,:class => "phome" %></h3>
			<p>While constantly communicating with the client, we organize all aspects of the project to set paths for further design and development process. We create smart and usable interfaces with a strong accent on accessibility and semantically correct markup.</p>
		</div>
		<div class="third last">
			<h3><%= link_to "Сертифікати відповідності", page_path("cert"),:class => "phome" %></h3>
			<p>Regardless of the project size, we offer robust and sophisticated "out of the box" or custom built solutions. From a typical content management system to specifically targeted web applications, we produce highly usable, modular and search engine optimized solutions.</p>
		</div>